<header class="intro">
  <h1 class="intro__hello">Hello!
    <span class="emoji wave-hand animated"></span>
  </h1>

  <h2 class="intro__tagline">We're
    <span class="name">"amor fati"</span>, under the gaze of destiny, harboring immortal delusions, hoping to gain some worldly assistance. 
    <span class="emoji spray"></span>
  </h2>

  <h3 class="intro__contact">
    <span>Get in touch </span>
    <span class="emoji pointer"></span>
    <span>
      <a href="mailto:amorfati.sun@gmail.com" target="_blank" class="highlight-link">Gmail</a>
    </span>
    <span>or</span>
    <span>
      <a href="https://t.me/amorfati_sun" target="_blank" class="highlight-link">Telegram</a>
    </span>
  </h3>
</header>
